<%= form_with(model: franquia, local: true) do |form| %>
  <% if franquia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(franquia.errors.count, "error") %> proibindo essa franquia de ser salva:</h2>

      <ul>
        <% franquia.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid ">
    <div class="row form-group">

      <div class="field col-md-6">
        <%= form.label :nome %>
        <%= form.text_field :nome, :class => "form-control"  %>
      </div>
      <div class="field col-md-6">
        <%= form.label :usuario_id %>
        <%= form.text_field :usuario_id, :class => "form-control"  %>
      </div>


    </div>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar", :class => "btn btn-success"  %>
  </div>
<% end %>
