
<h1>Franquias</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Dono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @franquias.order("nome asc").each do |franquia| %>
      <tr>
        <td><%= franquia.nome %></td>
        <td><%= franquia.dono %></td>
        <td><%= link_to t(:show), franquia, :class => "btn btn-info"  %></td>
        <td><%= link_to t(:edit), edit_franquia_path(franquia), :class => "btn btn-warning"  %></td>
        <td><%= link_to t(:destroy), franquia, method: :delete, data: { confirm: t(:confirm_delete) },  :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Franquia', new_franquia_path, :class => "btn btn-success"  %>
