<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @franquia.nome %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @franquia.usuario %>
</p>

<%= link_to t(:edit), edit_franquia_path(@franquia) %> |
<%= link_to t(:back), franquias_path %>
