<div class="row">

  <div class="card col-md-12">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong>Nome:</strong>
            <%= @franquia.nome %>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <strong>Dono:</strong>
            <%= @franquia.dono %>
          </p>
        </div>
      </div>

      <%= link_to t(:edit), edit_franquia_path(@franquia), :class => "btn btn-warning" %> |
      <%= link_to t(:back), franquias_path, :class => "btn btn-info" %>

    </div>
  </div>
</div>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Indicado Por</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @franquia.usuarios.order("id asc").each do |usuario| %>
    <tr>
      <td><%= usuario.id %></td>
      <td><%= usuario %></td>
      <td><%= usuario.indicado_por %></td>
      <td><%= link_to t(:show), usuario, :class => "btn btn-info" %></td>
      <td><%= link_to t(:edit), edit_usuario_path(usuario), :class => "btn btn-warning" %></td>
      <td><%= link_to t(:destroy), usuario, method: :delete, data: {confirm: t(:confirm_delete)}, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>
  </tbody>
</table>