<%= form_with(model: oficina, local: true) do |form| %>
  <% if oficina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oficina.errors.count, "error") %> prohibited this oficina from being saved:</h2>

      <ul>
      <% oficina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= form.label :endereco_id %>
    <%= form.text_field :endereco_id %>
  </div>

  <div class="field">
    <%= form.label :franquia_id %>
    <%= form.text_field :franquia_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
