<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Rg</th>
      <th>CPF/CNPJ</th>
      <th>E-mail</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <th>Telefone 2</th>
      <th>Cobrança</th>
      <th>Tipo usuario</th>
      <th>Indicado por</th>
      <th>Associado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.rg %></td>
        <td><%= user.cpf_cnpj %></td>
        <td><%= user.email %></td>
        <td><%= user.endereco_id %></td>
        <td><%= user.telefone %></td>
        <td><%= user.telefone_2 %></td>
        <td><%= user.cobranca %></td>
        <td><%= user.tipo_usuario %></td>
        <td><%= user.indicacao %></td>
        <td><%= user.associado %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Usuario', new_user_path, :class=>"btn btn-success button" %>
