<p id="notice"><%= notice %></p>
<div class="container center">
  <div class="card">
    <div class="card-body">

      <div class="col-md-12 ">

        <h3 class="card-title">
          <strong>modelo:</strong>
          <%= @veiculo.modelo %>
        </h3>
      </div>
      <div class="col-md-6">

        <p>
          <strong>placa:</strong>
          <%= @veiculo.placa %>
        </p>
      </div>
      <div class="col-md-6">

        <p>
          <strong>chassi:</strong>
          <%= @veiculo.chassi %>
        </p>
      </div>
      <div class="col-md-6">

        <p>
          <strong>Renavan:</strong>
          <%= @veiculo.renavan %>
        </p>
      </div>
      <div class="col-md-6">

        <p>
          <strong>ano:</strong>
          <%= @veiculo.ano %>
        </p>
      </div>

      <div class="col-md-6">

        <strong>Cor: </strong>
        <p><%= @veiculo.cor %></p>
      </div>
      <div class="col-md-6">

        <strong>Marca: </strong>
        <p><%= @veiculo.marca %></p>
      </div>
      <div class="col-md-6">

        <p>
          <strong>Mensalidade:</strong>
          <%= @veiculo.mensalidade %>
        </p>
      </div>

      <div class="col-md-6">

        <p>
          <strong>Rastreador:</strong>
          <%= @veiculo.rastreador_instalado? %>
        </p>
      </div>

      <div class="col-md-12 linha-final">
        <%= link_to t(:edit), edit_veiculo_path(@veiculo), :class => "btn btn-info" %>
        <%= link_to t(:back), usuario_path(@veiculo.usuario), :class => "btn btn-info" %>
        <%unless @veiculo.instalacao.present? %>
        <%= link_to "Instalar Rastreador", usuario_path(@veiculo.usuario), :class => "btn btn-success" %>
          <%end %>
      </div>
    </div>
  </div>
</div>

