<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "Erro") %> proibindo esse usuario de ser salvo:</h2>
      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid ">
    <div class="row form-group">

      <div class="field col-md-12">
        <%= form.label "Nome *" %>
        <%= form.text_field :nome, :class => "form-control", :required => true %>
      </div>

    </div>
    <div class="row form-group">

      <div class="field col-md-6">
        <%= form.label :rg %>
        <%= form.text_field :rg, :class => "form-control", :required => true %>
      </div>

      <div class="field col-md-6">
        <%= form.label :cpf_cnpj, "CPF/CNPJ *" %>
        <%= form.number_field :cpf_cnpj, :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="row form-group">

      <div class="field col-md-6">
        <%= form.label :email, "E-mail *" %>
        <%= form.text_field :email, :class => "form-control", :required => true %>
      </div>
    </div>
    <div class="row form-group">

      <div class="col-md-6 ">
        <%= form.label :cep, "CEP *" %>
        <%= form.number_field :cep, :class => "form-control", :required => true %>
      </div>

      <div class="col-md-6">
        <%= form.label "Logradouro *" %>
        <%= form.text_field :logradouro, :class => "form-control", :required => true %>

      </div>
      <div class="col-md-6">
        <%= form.label "Bairro *" %>
        <%= form.text_field :bairro, :class => "form-control", :required => true %>

      </div>

      <div class="col-md-6">
        <%= form.label :numero %>
        <%= form.text_field :numero, :class => "form-control", :required => true %>

      </div>
      <div class="col-md-6">
        <%= form.label :complemento %>
        <%= form.text_field :complemento, :class => "form-control" %>

      </div>
      <div class="col-md-6">
        <%= form.label :cidade %>
        <%= form.text_field :cidade, :class => "form-control", :required => true %>

      </div>
      <div class="col-md-6">
        <label for="uf">Estado</label>
        <%= form.select(:estado, Estado.all.collect { |p| [p.nome, p.sigla] }, {}, {:class => "form-control"}) %>

      </div>

      <div class="field col-md-6">
        <%= form.label :telefone %>
        <%= form.text_field :telefone, :class => "form-control" %>
      </div>
    </div>

    <div class="row form-group">


      <div class="field col-md-6">
        <%= form.label :telefone_2 %>
        <%= form.text_field :telefone_2, :class => "form-control" %>
      </div>


      <div class="form-check col-md-6">
        <%= form.label :associado %>
        <%= form.check_box :associado, :class => "form-check-input" %>

      </div>

<!--      <div class="field form-group col-md-6">-->
<!--        <label class="input-group-text" for="tipo_usuario"><%#= :tipo_usuario %></label>-->
        <%#= form.select(:tipo_usuario, Usuario.tipo_usuarios.map { |t, k| t if k > 0 }, {}, {:class => "form-control"}) %>
<!--      </div>-->
    </div>

    <div class="actions">
      <%= form.submit "Cadastrar", :class => "btn btn-success" %>
    </div>
  </div>

<% end %>
