<div class="container center">
  <div class="card">
    <div class="card-body">
      <strong>Modelo:</strong>
      <p><%= veiculo.modelo %></p>

      <strong>Ano: </strong>
      <p><%=veiculo.ano %></p>

      <strong>Renavan: </strong>
      <p><%=veiculo.renavan %></p>

      <strong>Chassi: </strong>
      <p><%= veiculo.chassi %></p>

      <strong>Placa: </strong>
      <p><%= veiculo.placa %></p>
    </div>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>