<p id="notice"><%= notice %></p>

<h1>Instalacoes</h1>

<table>
  <thead>
    <tr>
      <th>Veiculo</th>
      <th>Oficina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instalacoes.each do |instalacao| %>
      <tr>
        <td><%= instalacao.veiculo %></td>
        <td><%= instalacao.oficina %></td>
        <td><%= link_to t(:show), instalacao %></td>
        <td><%= link_to t(:edit), edit_instalacao_path(instalacao) %></td>
        <td><%= link_to t(:destroy), instalacao, method: :delete, data: { confirm: t(:confirm_delete) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Instalacao', new_instalacao_path %>
