<p id="notice"><%= notice %></p>

<p>
  <strong>Veiculo:</strong>
  <%= @instalacao.veiculo %>
</p>

<p>
  <strong>Oficina:</strong>
  <%= @instalacao.oficina %>
</p>

<%= link_to t(:edit), edit_instalacao_path(@instalacao) %> |
<%= link_to t(:back), instalacoes_path %>
