<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Auto Visão" %></title>
  <%= favicon_link_tag "logo.png" %>
  <meta name="description" content="">
  <meta name="author" content="Samuel S Morais">
  <script src="https://kit.fontawesome.com/d19e17e928.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
<%= render 'layouts/navigation' %>


<section class="twitter">
  <%= render 'layouts/messages' %>
  <% if current_page?(root_path) %>
    <%= link_to(image_tag("banner_inicial_3.jpg", :class => "img-full"), new_usuario_path) %>
  <% else %>
    <div class="container">

      <div class="content">


        <%= yield %>


      </div>
    </div> <!--! end of .container -->
  <% end %>
  <footer>
    <p>Problemas, Duvidas ou Sugestões? envie um email para altavisaom@gmail.com</p>
  </footer>
</section>


<script type="text/javascript">
    $("#usuario_cep").focusout(function () {
        //Aqui vai o código
        //Início do Comando AJAX
        $.ajax({
            //O campo URL diz o caminho de onde virá os dados
            //É importante concatenar o valor digitado no CEP
            url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/unicode/',
            //Aqui você deve preencher o tipo de dados que será lido,
            //no caso, estamos lendo JSON.
            dataType: 'json',
            //SUCESS é referente a função que será executada caso
            //ele consiga ler a fonte de dados com sucesso.
            //O parâmetro dentro da função se refere ao nome da variável
            //que você vai dar para ler esse objeto.
            success: function (resposta) {
                //Agora basta definir os valores que você deseja preencher
                //automaticamente nos campos acima.
                $("#usuario_logradouro").val(resposta.logradouro);
                $("#usuario_complemento").val(resposta.complemento);
                $("#usuario_bairro").val(resposta.bairro);
                $("#usuario_cidade").val(resposta.localidade);
                $("#usuario_estado").val(resposta.uf);
                // debugger

            }
        });
    });
    $("#oficina_cep").focusout(function () {
        //Aqui vai o código
        //Início do Comando AJAX
        $.ajax({
            //O campo URL diz o caminho de onde virá os dados
            //É importante concatenar o valor digitado no CEP
            url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/unicode/',
            //Aqui você deve preencher o tipo de dados que será lido,
            //no caso, estamos lendo JSON.
            dataType: 'json',
            //SUCESS é referente a função que será executada caso
            //ele consiga ler a fonte de dados com sucesso.
            //O parâmetro dentro da função se refere ao nome da variável
            //que você vai dar para ler esse objeto.
            success: function (resposta) {
                //Agora basta definir os valores que você deseja preencher
                //automaticamente nos campos acima.
                $("#oficina_logradouro").val(resposta.logradouro);
                $("#oficina_complemento").val(resposta.complemento);
                $("#oficina_bairro").val(resposta.bairro);
                $("#oficina_cidade").val(resposta.localidade);
                $("#oficina_estado").val(resposta.uf);

            }
        });
    });

</script>
</body>
</html>